@import url("http://www.fontstatic.com/f=sky-bold,sky");
body{margin:0;padding:0;font-family: sky;font-size:16px;background-color:#efefef;}
nav{width:100%;background-color:rgba(95, 95, 95,0.5);height:20%;color: white;position:fixed; top: 0;z-index: 9999;border-bottom: 1px solid white; }
ul{list-style-type: none;}
a{display: inline-block;padding: 14px 10px;line-height:2px; color: white;text-decoration: none; }
a:hover,a:active{border-radius:5px;border:1px solid white;color: white;text-decoration: none;}
h1{padding:1%;margin-right:1%;}